.topbar-container {
    height: 50px;
    width: 100%;
    background-color: #1877f2;
    display: flex;
    align-items: center;
    /* container sticks to top 0 */
    position: sticky;
    top: 0;

    .topbar-left {
        flex: 3;

        .logo {
            font-size: 24px;
            margin-left: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .topbar-center {
        flex: 5;

        .searchbar {
            width: 100%;
            height: 30px;
            background-color: white;
            border-radius: 30px;

            .search-icon {
                font-size: 20px !important;
                margin-left: 10px;
            }

            .search-input {
                width: 70%;

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .topbar-right {
        flex: 4;
        justify-content: space-around;
        color: white;

        .topbar-links {
            .topbar-link {
                margin-right: 10px;
                font-size: 14px;
            }
        }

        .topbar-icons {
            .topbar-icon-item {
                margin-right: 15px;
                position: relative;

                .topbar-icon-badge {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    border-radius: 50%;
                    color: white;
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                }
            }
        }
    }

    .topbar-image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
    }
}

