@import '../../assets/style/_variable.scss';

.rightbar {
    flex: $FLEX_RIGHT;
    height: calc(100vh - $TOPBAR_HEIGHT);
    overflow-y: scroll;
    position: sticky; // NCThanh: Make sidebar sticky when scrolling
    top: $TOPBAR_HEIGHT;

    .rightbar-wrapper {
        padding: 20px 20px 0 0;

        .birthday-container {
            display: flex;
            align-items: center;

            .birthday-img {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            .birthday-text {
                font-weight: 300;
                font-size: 15px;
            }
        }

        .rightbar-ad {
            width: 100%;
            border-radius: 10px;
            margin: 30px 0;
        }

        .rightbar-follow-button{
            margin-top: 30px;
            margin-bottom: 10px;
            border: none;
            background-color: #1872f2;
            color: white;
            border-radius: 5px;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;

            &:focus{
                outline: none;
            }
        }

        .rightbar-title{
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .rightbar-friendlist {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        .rightbar-info{
            margin-bottom: 30px;

            .rightbar-info-item{
                margin-bottom: 10px;

                .rightbar-info-key{
                    font-weight: 500;
                    margin-right: 15px;
                    color: #555;
                }

                .rightbar-info-value{
                    font-weight: 300;
                }
            }
        }

        .rightbar-followings{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .rightbar-following{
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                cursor: pointer;

                .rightbar-following-img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 5px;
                }
            }
        }
    }
}
