* {
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.border-none {
    border: none;
}

.reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.img-32 {
    width: 32px;
    height: 32px;
}

.rounded {
    border-radius: 50%;
}

.text-decoration-none {
    text-decoration: none;
}

.d-none {
    display: none;
}